*.a
*.bundle
*.dylib
*.gem
*.o
*.rake_tasks~
*.rbc
*.so
*.swo
*.swp
*/tags
*~
.DS_Store
.autotest
.bundle
.config
.idea
.kitchen
.rvmrc
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
bin/json_reformat
bin/json_verify
coverage
doc
doc/
erl_crash.dump
include
lib/bundler/man
lib/libyajl*
mkmf.log
pkg
rdoc
share
spec/reports
test/tmp
test/version_tmp
tmp
