version: "master-{build}"

os: Windows Server 2012 R2
platform:
  - x64

environment:
  matrix:
    - RUBY_VERSION: "23"

clone_folder: c:\projects\ffi-yajl
clone_depth: 1
skip_tags: true
branches:
  only:
    - master

install:
  - SET PATH=C:\Ruby%RUBY_VERSION%\bin;C:\Ruby23\DevKit\mingw\bin;C:\Ruby23\DevKit\bin;%PATH%
  - echo %PATH%
  - ruby --version
  - gem update --system || gem update --system || gem update --system
  - gem --version
  - gem install bundler --quiet --no-ri --no-rdoc || gem install bundler --quiet --no-ri --no-rdoc || gem install bundler --quiet --no-ri --no-rdoc
  - bundler --version

build_script:
  - bundle install || bundle install || bundle install

test_script:
  # compile needs to have the devkit loaded up
  # - C:\Ruby21\DevKit\devkitvars.bat
  - echo %PATH%
  - bundle exec rake compile
  - bundle exec rake spec
